input::placeholder {
  color: antiquewhite;
}

.navbar {
  background: var(--card-bg);
}

.level {
    width: clamp(250px, 600px, 400px);
}

/* Card start*/
.card {
  overflow: hidden;
  width: clamp(250px, 600px, 400px);
  margin: 2rem 0;
  /* color: var(--bg); */
}

.card.large {
  border-radius: 5px;
}

.title.no-padding {
  margin-bottom: 0 !important;
}

.footer {
  background: white;
}

.footer a:hover {
  color: crimson;
}

.fa {
  color: ghostwhite;
  margin: 10px
}

.day {
    background-color: aliceblue;
    border-color: black;
    border-width: 1px;
    
}

.day > h5 {
    margin-left: 1.5rem;
}

.dayTitle {
    
}
