:root {
    --primary-color: rgb(119, 151, 255); /*Background*/
    --primary-color2: rgb(119, 151, 255);
    --secondary-color: rgb(245, 245, 245);
    --third-color: rgb(146, 202, 255);
    --font-color: black;
    --bg-color: #fff;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: rgb(184, 99, 184); /*Background*/
    --primary-color2: rgb(184, 99, 184);
    --secondary-color: black;
    --third-color: rgb(240, 163, 240);
    --font-color: white;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body{
    background-color: var(--primary-color);
}

#body2{
    background-color: var(--primary-color2);
}

#message-box{
    background-color: var(--secondary-color);
}

#font{
    color: var(--font-color);
}

#to-doBox{
    background-color: var(--third-color);
}

input::placeholder {
  color: antiquewhite;
}

.navbar {
  background: var(--card-bg);
}

.level {
    width: clamp(250px, 600px, 400px);
}

/* Card start*/
.card {
  overflow: hidden;
  width: clamp(250px, 600px, 400px);
  margin: 2rem 0;
  /* color: var(--bg); */
}

.card.large {
  border-radius: 5px;
}

.title.no-padding {
  margin-bottom: 0 !important;
}

.footer {
  background: white;
}

.footer a:hover {
  color: crimson;
}

.fa {
  color: ghostwhite;
  margin: 10px
}

.day {
    background-color: aliceblue;
    border-color: black;
    border-width: 1px;
    
}

.day > h5 {
    margin-left: 1.5rem;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hidden-scrollbar .inner {
   height:200px;
   overflow:auto;
   margin:15px -300px 15px 15px;
   padding-right:300px;
}

::-webkit-scrollbar { 
    display: none; 
}